// Break Points According to Bootstrap
$laptop-device: 1366px;
$laptop-device-1280: 1280px;
$tablet-device-1024: 1024px;
$tablet-device: 992px;
$mobile-device: 768px;
$smart-phone-device: 480px;

/* Using SCSS variables to store breakpoints */

@media (max-width: $laptop-device-1280) {
  body {
    .page-subheader {
      .ph-content-wrap {
        min-height: 100% !important;
      }
    }
  }
}
@media (max-width: $tablet-device-1024) {
  body {
    .our-leadership-team {
      &-right {
        margin-left: -105px;
      }
    }
  }
}

@media (max-width: $tablet-device) {
  body {
    .container {
      max-width: 100%;
    }
    .page-subheader {
      .ph-content-wrap {
        h1 {
          font-size: 3rem;
        }
      }
    }
    // HeaderSSS
    #header.site-header {
      padding: 0px;
    }
    .site-header-main-center {
      margin: 0;
    }
    .site-header {
      .logo-container {
        padding: 0px 0;
        .site-logo {
          margin-top: 0px;
          img.logo-img {
            display: block;
            margin-top: 3px;
          }
          svg {
            display: none;
          }
        }
      }
    }
    // Home Page
    .quotes {
      .quotes-description {
        h2 {
          font-size: 2rem;
        }
      }
    }
    // About Us
    .our-leadership-team {
      &-right {
        margin-left: -125px;
      }
      &.col-sm-12.col-md-8.col-lg-8 {
        .col-8 {
          margin-left: -120px;
        }
      }
    }
    // Footer
    .mini-footer {
      h6 {
        padding: 0;
      }
      .col-md-4.col-sm-12 {
        flex: 0 0 50%;
        max-width: 50%;
        &.text-center {
          display: none;
        }
        &.connect {
          h6 {
            margin-left: 41%;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-device) {
  body {
    
    .page-subheader {
      min-height: 100px;
      .ph-content-wrap {
        padding: 20px;
        h1 {
          font-size: 2rem;
          margin-top: 28px;
        }
      }
    }
    // Home Page

    .usp-section {
      height: 90px;
    }

    .grow-with-us {
      padding: 0 !important;

      .row {
        display: flex;
        flex-direction: column-reverse;
      }

      .el-devimages--type-vector {
        .el-devimages__laptop {
          width: 100%;
          margin-top: 50px;
          padding-bottom: 0px;
          height: 250px !important;
          padding-bottom: 51%;
        }
      }
    }

    .quotes {
      .we-do-section-right-side {
        height: auto !important;
        .img-responsive.about-image {
          display: none;
        }
      }
    }
    .press-feeds {
      .image-container {
        padding-left: 0;
        padding-right: 0;
      }
    }

    // Solutions 
    .solutions-section ul.services_box__list.pb-20 {
      padding-top: 0 !important;
    }


    
    // freight-forwarder

    .freight-forwarder,
    .pricing-section {
      .col {
        max-width: 100%;
        flex: 0 0 100%;
      }
      
    }
    .benefits-section {
      .benefit-read-more {
        display: none !important;
      }
    }
    

    // About Us

    .custom-aboutus {
      .mb-40 {
        margin-left: 0 !important;
        text-align: center;
      }
      h3 {
        text-align: center !important;
      }
      .hr-separator {
        margin: 0 auto;
        float: none;
      }
    }

    .our-leadership-team {
      .team_member {
        max-width: 100%;
        margin: 1% 15%;
      }
      h3 {

        text-align: center
      }

      p {
        text-align: center
      }
    }


    // Glossary 
    
    .glossary {
      &-item {
        .a-to-z {
          text-align: left;
          margin: 60px 0;
          word-break: break-all;

          li {
            line-height: 0.2;

            a {
              color: #000000;
              font-size: 1.5rem;
              line-height: 1;
            }
          }
        }
      }
    }

    .glossary-section {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      margin-top: -6rem;      
    }

    // Contact Page
    .contact-us-subheader-section {
      .kl-iconbox__title-wrapper {
        .btn {
          width: 100% !important;
        }
      }
    }

    // News Page
    .hm-news-section {
      .hg_post_image {
        width: 100%;

        img {
          width: 100%;

        }
      }
    }

    // Footer
    form#subs_form {
      flex-direction: column;
    }
    .mini-footer {
      .input-group {
        .form-control,
        .btn {
          width: 100% !important;
          height: 48px;
        }
        &-prepend {
          width: 100%;
        }
      }
      .col-md-4.col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 10%;
        text-align: center;

        &.text-center {
          display: none;
        }
        &.connect {
          h6 {
            margin-top: 0.75rem;
            margin-left: 0%;
          }
        }
        .social-links {
          justify-content: center !important;
        }
      }
    }
    .end-footer {
      .copyrights {
        text-align: center;
      }
    }
  }
}

@media (max-width: $smart-phone-device) {
  // home
  body {
    #header.site-header {
      padding: 0 !important;
    }
    .site-header {
      .logo-container {
        padding: 0px 0;
        .site-logo {
          margin-top: 0px;
          img.logo-img {
            width: 20rem !important;
            margin-top: 10px;
          }
          svg {
            display: none;
          }
        }
      }
    }
    .usp-section {
      .item-sub-section {
        border: 0px !important;
      }
    }
    .glossary-section {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      margin-top: -6rem;
    }
    .customer-quote {
      .ts-pt-testimonials__text {
        margin-right: 15px;
      }
    }
    .our-leadership-team {
      h3 {
        text-align: center !important;
      }
      .team_member {
        margin: 1% 5%;
      }
    }
  }
}
