/* ==========================================================================
*
* Custom CSS Stylesheet. This is where you should add your own styles!
*
** ========================================================================== */
/* Simple style overrides or custom adds */
/*----------------------------
    /// HashMove Custom CSS  
------------------------------*/
@import url(https://use.typekit.net/gwn1jtf.css);
@import url(https://use.typekit.net/gwn1jtf.css);
@import url("https://use.typekit.net/gwn1jtf.css");
body {
  font-family: "pragmatica", "sans-serif" !important; }
  body.preloader {
    overflow: hidden; }
  body .site-header {
    background: transparent;
    height: 63.8px;
    padding: 30px 0;
    width: 100%;
    /* animation magic */
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0;
    position: fixed; }
  body .shrink {
    padding: 10px 0 !important;
    border-bottom: 1px solid #e1e1e1;
    background: #fff !important;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); }
    body .shrink #main-menu ul#menu-main-menu li a {
      color: #738593 !important; }
    body .shrink .site-logo a svg stop,
    body .shrink .site-logo a svg path {
      stop-color: none !important;
      fill: none; }
    body .shrink .site-logo img.logo-img {
      display: block; }
    body .shrink .site-logo a svg {
      display: none; }

/* =============================== [ Sparkles - Show / Hide ] =============================== */
#sparkles,
.th-sparkles {
  display: none !important; }

.english {
  display: none; }

/* =============================== [ Sparkles - Show / Hide ] =============================== */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/ }

.hr-separator {
  border-top-width: 5px;
  height: 5px;
  width: 4.8765rem;
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1);
  margin: 0 auto; }

.logistics-bottom-banner {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0; }

.kl-revolution-slider #rev_slider_12_1_forcefullwidth,
.kl-revolution-slider #rev_slider_12_1_wrapper {
  height: 100% !important;
  display: block; }

.section.banner .responsive-banner,
.logistics-slider-responsive {
  display: none; }

/*==========================   LOGISTICS ANIMATION HANDLING CSS END   ==========================*/
.some-css-selector {
  font-size: 13px; }

.about-us .tbk__title,
.solution .tbk__title {
  color: #02bdb6;
  text-transform: uppercase; }

/* Bannners */
.page-subheader.uh_light_gray {
  background-color: transparent;
  background-image: url("../images/banner/logistics-platform_01.png");
  background-size: cover;
  height: 43.75rem; }

.kl-slideshow.uh_light_gray {
  background-color: transparent;
  background-image: url("../images/banner/logistics-platform_01.png");
  background-size: cover;
  height: 43.75rem; }
  .kl-slideshow.uh_light_gray .tp-gradientbg {
    background: transparent !important; }

/* Bannners */
/*------------------------
  // HEADER CSS START //
--------------------------*/
.site-header-top-wrapper,
.quote-ribbon,
.logo-container.hasInfoCard:before,
.main-nav > ul > li.menu-item-has-children > a:after {
  display: none; }

.main-nav > ul > li.menu-item-has-children > a:after {
  background-color: rgba(255, 255, 255, 0); }

.main-nav ul ul.sub-menu li a {
  color: #738593 !important; }

.site-header .kl-header-bg {
  background: transparent !important;
  opacity: 0; }

.site-logo a img,
.site-logo a svg {
  /* margin-top: -3px; */
  width: 16rem !important; }

.site-logo a img {
  display: none; }

.site-logo a svg {
  display: block; }

.site-logo a svg stop,
.site-logo a svg path {
  stop-color: #fff !important;
  fill: #fff; }

.logo-img {
  width: 18.75rem; }

/* =======================    MENU CSS START    =======================  */
#main-menu ul#menu-main-menu li a {
  /* color: #738593; */
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  text-transform: capitalize; }
  #main-menu ul#menu-main-menu li a:before {
    background: transparent; }

.main-nav ul ul.sub-menu,
.main-nav .hg_mega_container {
  background: white; }

#main-menu ul#menu-main-menu li a:hover {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem; }

li.active a,
#main-menu ul#menu-main-menu li a:hover {
  color: #18a7a1 !important;
  /* color: #56b5da !important; */ }

.main-nav > ul > li.active > a {
  color: #fff !important; }

/* li.menu-item-has-children.active {
    color: #fff;
} */
.shrink #main-menu ul#menu-main-menu li a span svg {
  fill: #738593; }

#main-menu ul#menu-main-menu li a span svg,
#main-menu ul#menu-main-menu li a span img {
  width: 0.875rem;
  margin-top: -6px;
  margin-right: 0.3rem;
  fill: #ffffff; }

/* =======================    MENU CSS END    =======================  */
/* =======================    Home Page - HEADER & BANNER START    =======================  */
.home .site-header {
  background: transparent; }

.home section.banner {
  margin-top: 0px; }

.home #main-menu ul#menu-main-menu li a {
  color: #ffffff; }

/*
.home #main-menu ul#menu-main-menu li a:hover {
    color: #757575 !important;
} */
/* =======================    Home Page - HEADER END    =======================  */
/*----------------------
    Main Banner CSS
----------------------*/
section.banner {
  overflow: hidden;
  padding: 0;
  height: 696px;
  margin-top: 64px; }

.banner-heading {
  font-size: 5.25rem;
  position: absolute;
  z-index: 1;
  top: 13rem;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

section.banner .bannerbg {
  /* z-index: -2000; */
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 696px;
  position: relative; }

section.banner #plane {
  left: 100%;
  bottom: 30%;
  position: absolute; }

section.banner #truck {
  position: absolute;
  left: -189px;
  bottom: 10px; }

section.banner #waves {
  position: absolute;
  left: 0;
  bottom: 45px; }

section.banner #road {
  background-color: #d2d3d5;
  width: 100%;
  height: 48px;
  position: absolute;
  left: 0;
  bottom: 0; }

section.banner #dock {
  position: absolute;
  right: 0;
  bottom: 45px; }

section.banner #clouds {
  position: absolute;
  left: -248px;
  top: 28%; }

section.banner #smallcloud {
  position: absolute;
  left: -100px;
  top: 24%; }

section.banner #bigcloud {
  position: absolute;
  left: -130px;
  top: 30%; }

section.banner .container-fluid .bannerbg .main-banner-tabs {
  float: right;
  position: relative;
  top: 9rem !important;
  right: 0 !important;
  cursor: pointer; }
  section.banner .container-fluid .bannerbg .main-banner-tabs .banner-tabs {
    background-color: #007870;
    width: 190px;
    height: 315px;
    float: right;
    position: absolute;
    right: -10px;
    z-index: 11;
    border-radius: 6px; }
    section.banner .container-fluid .bannerbg .main-banner-tabs .banner-tabs .v-btn {
      background-color: #fff;
      width: 201px;
      height: 64px;
      font-family: proxima-nova, sans-serif;
      font-weight: 400;
      padding: 1.25rem 0.75rem;
      border: 0 solid #aeaeae;
      font-size: 1rem;
      color: #243748;
      left: -31px;
      position: relative;
      top: 1.25rem;
      margin-bottom: 0.425em;
      transition: all 0.5s ease;
      border-radius: 2px; }
      section.banner .container-fluid .bannerbg .main-banner-tabs .banner-tabs .v-btn:hover,
      section.banner .container-fluid .bannerbg .main-banner-tabs .banner-tabs .v-btn a:hover {
        color: #1caae3;
        width: 201px;
        left: -25px; }
      section.banner .container-fluid .bannerbg .main-banner-tabs .banner-tabs .v-btn img {
        margin-right: 5px;
        position: relative;
        top: -1px;
        width: 24px;
        float: left; }

/*====================== Inner Pages banner bottom - Start ===========================*/
.kl-bottommask--mask7 {
  display: none; }

/*====================== Inner Pages banner bottom - End ===========================*/
/*====================== USP Section - Start ===========================*/
/*-- hide from mobile and to show desktop */
.hg_section_desktop {
  display: block; }

/*-- hide from desktop and to show mobile */
.hg_section_mobile {
  display: none; }

.usp-section {
  background: #00a6da;
  margin-top: 0px;
  height: 130px;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  z-index: 3;
  position: relative;
  text-align: center;
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.usp-sub-megamenu {
  display: none; }

.item.add .usp-sub-megamenu {
  display: block;
  position: absolute;
  min-height: 115px;
  padding: 28px 0px;
  width: 25% !important; }

.usp-section .usp-box .usp-menu {
  list-style: none;
  text-align: center;
  padding: 0.875rem 1.25rem;
  margin: 0; }
  .usp-section .usp-box .usp-menu ngu-item:last-child .item-sub-section,
  .usp-section .usp-box .usp-menu.border-control-right .item:nth-child(4) .item-sub-section {
    border-right: 0 !important; }
  .usp-section .usp-box .usp-menu.border-control-left ngu-item:nth-child(2) .item-sub-section {
    border-left: 0 !important; }
  .usp-section .usp-box .usp-menu.border-control-left ngu-item:nth-child(1) .item-sub-section {
    border-right: 0 !important; }
  .usp-section .usp-box .usp-menu .leftRs {
    position: absolute;
    left: 0;
    top: 1.625rem;
    background: 0 0;
    font-size: 1.875rem;
    color: #fff; }
    .usp-section .usp-box .usp-menu .leftRs:hover {
      box-shadow: none !important; }
  .usp-section .usp-box .usp-menu .rightRs {
    position: absolute;
    right: 0;
    top: 0.8rem;
    font-size: 1.875rem;
    color: #fff;
    height: 75px; }
    .usp-section .usp-box .usp-menu .rightRs:focus, .usp-section .usp-box .usp-menu .rightRs:hover {
      box-shadow: none !important; }

.usp-section .slick-list {
  overflow: inherit; }

.usp-section .usp-box .usp-menu .item .item-sub-section {
  border-right: 1px solid #13cde4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .usp-section .usp-box .usp-menu .item .item-sub-section img {
    width: 32px;
    margin-bottom: 7px; }
  .usp-section .usp-box .usp-menu .item .item-sub-section a {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    width: 11.5rem;
    display: inline-block;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    height: 2.5rem; }
    .usp-section .usp-box .usp-menu .item .item-sub-section a:hover {
      color: #fff !important;
      opacity: 0.7; }

.usp-section .usp-box .usp-menu li {
  float: left;
  position: relative;
  text-align: center;
  padding: 0.1875rem 0.75rem;
  margin-right: 0;
  list-style: none;
  width: 24%; }
  .usp-section .usp-box .usp-menu li i {
    display: block;
    color: #fff;
    font-size: 0.75rem;
    text-align: center; }
    .usp-section .usp-box .usp-menu li i .usp-icon {
      width: 32px;
      fill: #fff !important; }
  .usp-section .usp-box .usp-menu li a {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 400;
    width: 125px;
    display: inline-block;
    line-height: 1.2; }
  .usp-section .usp-box .usp-menu li:first-child {
    border-left: 0; }
  .usp-section .usp-box .usp-menu li:last-child {
    border-right: 0;
    border-left: 0;
    width: 4%;
    margin-top: 1.4375rem; }
    .usp-section .usp-box .usp-menu li:last-child i {
      font-size: 20px; }
  .usp-section .usp-box .usp-menu li:nth-last-child(2) {
    border-right: 0; }

.usp-section .usp-box .usp-menu .usp-subcontent-3,
.usp-section .usp-box .usp-menu .usp-subcontent-4,
.usp-section .usp-box .usp-menu .usp-subcontent-5,
.usp-section .usp-box .usp-menu .usp-subcontent-6 {
  right: 100%; }

.usp-section .usp-box .usp-menu .usp-subcontent-3:before,
.usp-section .usp-box .usp-menu .usp-subcontent-4:before,
.usp-section .usp-box .usp-menu .usp-subcontent-5:before,
.usp-section .usp-box .usp-menu .usp-subcontent-6:before {
  left: 29.6rem; }

/* .usp-section .usp-box .usp-menu .item {
    float: left;
    position: relative;
    text-align: center;
    padding: .1875rem 0;
    margin-right: 0;
    list-style: none;
    min-width: 24%;
    height: 100%
} */
.usp-sub-megamenu {
  background-color: #fff;
  width: 39.6rem !important;
  padding: 1.25rem 0;
  border-radius: 0 0 4px 4px;
  transition: all 3s;
  border: 1px solid #ebeceb;
  z-index: 999999;
  /* position: relative; */
  position: absolute;
  margin-top: 17px;
  min-height: 220px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08); }
  .usp-sub-megamenu .overlay-menu {
    padding: 0.375rem 0.9375rem; }
  .usp-sub-megamenu p {
    font-size: 0.945rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2b2b2b; }
  .usp-sub-megamenu .read-more {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #afafaf; }
  .usp-sub-megamenu .container-fluid .row {
    margin: auto 0; }

[data-aos="fade-down"] {
  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px); }

.usp-sub-megamenu:before {
  bottom: 100%;
  left: 9.6rem;
  border: 0.5625rem solid rgba(255, 255, 255, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  margin-left: -0.5625rem; }

@media screen and (max-width: 600px) {
  .usp-sub-megamenu {
    width: auto !important;
    position: static; } }

/*====================== USP Section - End ===========================*/
/*====================== OUR Solutions-Section - Start ===========================*/
.our-solution-head {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }
  .our-solution-head h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    /* margin-top: 200px;
    padding: 1.3rem;
    background-color: rgba(0, 0, 0, 0.4); */
    display: inline-block;
    border-radius: 0.25rem;
    font-size: 4.875rem;
    font-weight: 600;
    line-height: 1.128;
    font-family: "pragmatica", "sans-serif" !important; }
  .our-solution-head h4 {
    font-size: 1.125rem; }

.solutions-section .services_box .services_box__inner .services_box__icon .services_box__icon-inner .icon-solutions svg {
  fill: #00a2df;
  height: 4rem;
  /* margin-bottom: 0.5rem; */ }

.solutions-section .services_box__content {
  margin-top: 1rem; }
  .solutions-section .services_box__content .services_box__desc {
    font-family: "proxima-nova", sans-serif; }

.solutions-section .services_box--boxed {
  padding: 2rem;
  margin: 0;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  border-radius: 1.25rem 0px 1.25rem 0px; }
  .solutions-section .services_box--boxed .services_box__title {
    color: #00a2df;
    font-size: 1.25rem;
    line-height: 1.6;
    text-transform: capitalize;
    text-align: center; }
  .solutions-section .services_box--boxed:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s ease-out; }
  .solutions-section .services_box--boxed .services_box__list {
    padding-left: 20px; }
    .solutions-section .services_box--boxed .services_box__list li {
      opacity: 1;
      visibility: visible;
      padding: 2px 0;
      opacity: 1;
      visibility: visible;
      transform: translateY(0) !important;
      border-top: 0;
      /* list-style: disc !important; */
      text-align: left;
      color: #2b2b2b; }
      .solutions-section .services_box--boxed .services_box__list li:hover {
        opacity: 1;
        visibility: visible;
        padding: 2px 0;
        transform: translateY(0);
        border-top: 0;
        /* list-style: disc !important; */
        text-align: left;
        color: #2b2b2b; }
      .solutions-section .services_box--boxed .services_box__list li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #00a2df !important;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1.2rem;
        /* Also needed for space (tweak if needed) */
        margin-left: -1.2rem;
        /* Also needed for space (tweak if needed) */ }

.solutions-section .btn {
  font-weight: 500;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase; }

.solutions-section .btn-lined {
  border-color: #02bdb6;
  color: #2b2b2b; }
  .solutions-section .btn-lined:hover {
    color: #fff;
    border-color: #18a7a1;
    background-color: #18a7a1; }

/*====================== OUR Solutions-Section - End ===========================*/
/*====================== one-stop-hub Section - End ===========================*/
.one-stop-hub {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .one-stop-hub h3 {
    font-size: 2.5rem;
    font-family: "pragmatica", sans-serif !important;
    color: #2b2b2b;
    line-height: 1.2;
    text-align: center;
    font-weight: 500; }

.custom-aboutus p {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "proxima-nova", sans-serif;
  line-height: 1.778; }

/*====================== one-stop-hub Section - End ===========================*/
/*=================== Benefits Section - Start ======================*/
.benefits-section {
  background: #00a2df;
  margin-top: 0px;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  z-index: 3;
  position: relative;
  text-align: center;
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .benefits-section .grid-ibx__title-wrp,
  .benefits-section .grid-ibx__icon-wrp {
    -webkit-backface-visibility: unset;
            backface-visibility: unset;
    filter: none; }

.grid-ibx__desc-wrp {
  -webkit-backface-visibility: unset;
          backface-visibility: unset;
  filter: none; }

.benefits-section .grid-ibx__item {
  background-color: transparent; }

.benefits-section h2 {
  font-size: 2.5rem;
  font-family: "pragmatica", "sans-serif" !important;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  margin: 0 0 15px;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  text-transform: capitalize; }

.benefits-section h4 {
  color: #fff !important;
  font-family: "pragmatica", "sans-serif" !important;
  text-transform: capitalize;
  font-size: 1.2rem !important;
  line-height: 1.5;
  font-weight: 400 !important; }

.benefits-section .icon-solutions svg {
  fill: #fff;
  stroke: #fff;
  height: 64px;
  margin-bottom: 0.5rem; }

.icon-48 {
  height: 48px !important; }

.benefits-section .grid-ibx--style-lined-full {
  /*border-color: rgb(255, 255, 255, 0.2);*/
  border-style: none;
  border-radius: 1.25rem 0px 1.25rem 0px; }
  .benefits-section .grid-ibx--style-lined-full .grid-ibx__item {
    /*border-color: rgb(255, 255, 255, 0.2);*/
    border-style: none;
    border-radius: 1.25rem 0px 1.25rem 0px; }

.benefits-section .grid-ibx__item:hover .grid-ibx__icon {
  color: #fff;
  opacity: 0.8; }

.benefits-section .services_box--boxed {
  background: transparent;
  border-radius: 1.25rem 0px 1.25rem 0px;
  transition: box-shadow 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 15px 30px; }
  .benefits-section .services_box--boxed:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    transition: background-color 0.15s ease-out;
    transition: box-shadow 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .benefits-section .services_box--boxed .services_box__list-bg {
    background: #00a7d9; }

.benefit-read-more,
.benefit-read-less {
  cursor: pointer; }

p.benefit-read-less {
  height: 100px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis; }

/*=================== Benefits Section / END======================*/
/*====================== Partner with Us Section - Start ===========================*/
.partner-with-us-section .services_box
.services_box__inner
.services_box__icon
.services_box__icon-inner
.icon-solutions
svg {
  fill: #02bdb6;
  height: 42px;
  margin-bottom: 0.5rem; }

.partner-with-us-section .services_box__title {
  text-transform: uppercase; }

.partner-with-us-section .services_box--boxed {
  padding: 30px;
  margin: 0;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  border-radius: 5px; }
  .partner-with-us-section .services_box--boxed:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s ease-out; }
  .partner-with-us-section .services_box--boxed .services_box__list {
    padding-left: 20px; }
    .partner-with-us-section .services_box--boxed .services_box__list li {
      opacity: 1;
      visibility: visible;
      padding: 8px 0;
      transform: translateY(0);
      border-top: 0;
      list-style: circle !important; }
      .partner-with-us-section .services_box--boxed .services_box__list li:hover {
        opacity: 1;
        visibility: visible;
        padding: 8px 0;
        transform: translateY(0);
        border-top: 0;
        list-style: circle !important; }

.request-a-demo .m_title {
  text-transform: uppercase;
  font-size: 1.6rem; }

.request-a-demo .gobox.ok h4 {
  margin-top: 12px; }

/*====================== Partner with Us Section - End ===========================*/
/*====================== Pricing Section Section - Start ===========================*/
.pricing-section {
  background-color: #f2f3f5;
  border-bottom: solid 1px #dedede; }
  .pricing-section .price-title {
    font-size: 1.6rem; }
  .pricing-section h3 {
    font-size: 2.5rem;
    font-family: "pragmatica", sans-serif !important;
    color: #2b2b2b;
    line-height: 1.2;
    text-align: center;
    font-weight: 500; }
  .pricing-section h4 {
    font-size: 2rem;
    font-family: "pragmatica", sans-serif !important;
    font-weight: 500;
    color: #2b2b2b;
    letter-spacing: -0.05rem;
    text-align: left; }
  .pricing-section:before, .pricing-section:after {
    content: none; }
  .pricing-section .services_box--boxed .services_box__icon {
    margin-top: 2rem;
    margin-bottom: 3rem; }
  .pricing-section .services_box
.services_box__inner
.services_box__icon
.services_box__icon-inner
.icon-solutions
svg {
    fill: #00a2df;
    height: 4rem;
    /* margin-bottom: 0.5rem; */ }
  .pricing-section .solution-content {
    font-weight: 500; }
  .pricing-section .services_box__content {
    margin-top: 1rem; }
    .pricing-section .services_box__content .services_box__desc {
      font-family: "proxima-nova", sans-serif; }
  .pricing-section .services_box--boxed {
    padding: 2rem;
    margin: 0;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    border-radius: 1.25rem 0px 1.25rem 0px; }
    .pricing-section .services_box--boxed .services_box__title {
      color: #2b2b2b;
      font-size: 1.25rem;
      line-height: 1.6;
      font-weight: 500;
      text-transform: capitalize;
      text-align: center; }
    .pricing-section .services_box--boxed:hover {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      transition: background-color 0.15s ease-out; }
    .pricing-section .services_box--boxed .services_box__list {
      padding-left: 20px; }
      .pricing-section .services_box--boxed .services_box__list li {
        opacity: 1;
        visibility: visible;
        padding: 2px 0;
        transform: translateY(0);
        border-top: 0;
        /* list-style: disc !important; */
        text-align: left;
        color: #2b2b2b; }
        .pricing-section .services_box--boxed .services_box__list li:hover {
          opacity: 1;
          visibility: visible;
          padding: 2px 0;
          transform: translateY(0);
          border-top: 0;
          /* list-style: disc !important; */
          text-align: left;
          color: #2b2b2b; }
        .pricing-section .services_box--boxed .services_box__list li::before {
          content: "\2022";
          /* Add content: \2022 is the CSS Code/unicode for a bullet */
          color: #00a2df;
          /* Change the color */
          font-weight: bold;
          /* If you want it to be bold */
          display: inline-block;
          /* Needed to add space between the bullet and the text */
          width: 1.2rem;
          /* Also needed for space (tweak if needed) */
          margin-left: -1.2rem;
          /* Also needed for space (tweak if needed) */ }
  .pricing-section .btn {
    font-weight: 500;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    font-size: 1rem; }
  .pricing-section .btn-lined {
    border-color: #02bdb6;
    color: #2b2b2b; }
    .pricing-section .btn-lined:hover {
      color: #fff;
      border-color: #18a7a1;
      background-color: #18a7a1; }

/*====================== Pricing Section Section - End ===========================*/
/*========== smart pricing smart business - Start ===========*/
.smart-pricing-smart-business-section .screenshot-box .left-side h3.title {
  font-size: 2rem;
  font-weight: 500;
  color: #2b2b2b;
  font-family: "pragmatica", sans-serif !important;
  line-height: 1.3; }

/*========== smart pricing smart business - End ===========*/
/*====================== News Ticker Section - Start ===========================*/
.newsticker {
  padding: 0;
  height: 50px; }
  .newsticker .emergencyalert {
    background: none repeat scroll 0 0 #67788f;
    color: #ffffff;
    height: 50px;
    line-height: 46px;
    margin: 0 0 -26px;
    padding: 4;
    text-align: center;
    text-transform: normal; }
    .newsticker .emergencyalert span {
      padding-right: 10rem;
      color: #fff; }
      .newsticker .emergencyalert span a {
        opacity: 0.8;
        color: #fff; }
        .newsticker .emergencyalert span a:hover {
          opacity: 1; }

/*====================== News Ticker Section - End ===========================*/
/*====================== Privacy Policy Section - Start ===========================*/
.privacy-policy-section ol, .terms-of-use-section ol {
  counter-reset: item; }

.privacy-policy-section li, .terms-of-use-section li {
  display: block;
  font-family: "pragmatica", "sans-serif" !important;
  line-height: 1.8;
  margin-top: 0.5rem; }
  .privacy-policy-section li h4, .terms-of-use-section li h4 {
    display: inline-block;
    text-transform: uppercase; }

.privacy-policy-section li:before, .terms-of-use-section li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
  color: #00a2df;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem; }

/*====================== Privacy Policy Section - End ===========================*/
/*====================== Glossary-Section - Start ===========================*/
.glossary-section .services_box--boxed {
  padding: 30px;
  margin: 0;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  border-radius: 5px; }
  .glossary-section .services_box--boxed:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s ease-out; }
  .glossary-section .services_box--boxed .services_box__list {
    padding-left: 20px; }
  .glossary-section .services_box--boxed .grid-ibx__icon {
    font-size: 2.5rem;
    color: #2b2b2b;
    transition: all 0.5s ease-out; }

.glossary-section .services_box__content {
  padding: 16px 0; }

.glossary-section .services_box--boxed .services_box__title {
  font-size: 1.2rem;
  line-height: 1.3;
  color: #02bdb6;
  margin: 0 0 10px;
  text-transform: capitalize; }

.glossary-section .services_box--boxed .services_box__desc span {
  font-size: 1.2rem;
  color: #2b2b2b;
  margin: 0 1rem; }

.glossary-item .a-to-z li {
  list-style: none;
  display: inline;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  margin: 0.4rem;
  opacity: 0.9; }
  .glossary-item .a-to-z li a {
    list-style: none;
    display: inline;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0.4rem;
    opacity: 0.9; }
    .glossary-item .a-to-z li a:hover {
      opacity: 1;
      transition: all 0.2s ease-out; }

.glossary {
  position: relative;
  bottom: 3rem;
  padding: 0; }

/*====================== Glossary-Section - End ===========================*/
/*====================== Enterprise Solutions-Section - Start ===========================*/
/* .enterprise-solutions {
    background-color: #fbfbfb;
    background-color: transparent;
    background-image: url('../images/bg-enterprise-solution.png');
    background-size: cover;
} */
.enterprise-solutions .tbk__subtitle {
  font-size: 1rem; }

.enterprise-solutions .tbk__title {
  font-size: 2rem;
  font-family: "pragmatica", "sans-serif" !important;
  border-left: 0px solid #00a2df;
  font-weight: 500;
  color: #2b2b2b;
  padding: 0.625rem 1.4375rem;
  margin-bottom: 1.5625rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase; }

.enterprise-solutions .solution-content {
  font-size: 1.125rem;
  font-family: "proxima-nova", sans-serif !important;
  color: #2b2b2b;
  line-height: 1.778;
  text-align: left; }

.enterprise-solutions .kl-iconbox__title {
  font-family: "pragmatica", "sans-serif" !important;
  text-transform: uppercase;
  font-weight: 500; }

.enterprise-solutions .kl-iconbox__desc {
  font-family: "pragmatica", "sans-serif" !important; }

.enterprise-solutions .kl-iconbox--fleft .kl-iconbox__icon-wrapper .grid-ibx__icon {
  color: #02bdb6;
  line-height: 1.2; }

.enterprise-solutions a {
  color: #fff; }

/* .enterprise-solutions a:hover {
 
    text-decoration: underline
} */
/*====================== Enterprise Solutions-Section - End ===========================*/
/*====================== knowledge-hub-Section - Start ===========================*/
.knowledge-hub .kl-title-block .tbk__title {
  font-size: 2rem;
  font-family: "pragmatica", "sans-serif" !important;
  border-left: 3px solid #00a2df;
  font-weight: 500;
  color: #2b2b2b;
  padding: 0.625rem 1.4375rem;
  margin-bottom: 1.5625rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase; }

.knowledge-hub .tbk__subtitle {
  font-family: "pragmatica", "sans-serif" !important;
  font-size: 1rem; }

.knowledge-hub .form-control {
  border: 1px solid #ced4da !important; }

.knowledge-hub .tabs_style5 > ul.nav > li > a {
  text-transform: uppercase; }

/*====================== knowledge-hub-Section - End ===========================*/
/*====================== Featured-in Section - Start ======================*/
.featured-in-section {
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background: #00a6da;
  margin-top: 0px;
  height: 130px;
  display: flex;
  color: #fff;
  z-index: 3;
  position: relative;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#00a6da), to(#02babc));
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1);
  justify-content: center;
  align-items: center;
  overflow: hidden; */ }
  .featured-in-section .ts-pt-partners__title {
    text-align: left;
    font-size: 1rem;
    color: #424242;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px; }
    .featured-in-section .ts-pt-partners__title:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 30px;
      height: 3px;
      background: #fff;
      display: none; }
  .featured-in-section .ts-pt-partners__img {
    height: 60px; }

/*====================== Featured-in Section - End ======================*/
/*====================== Our-Leadership-Team Section - Start ======================*/
.our-leadership-team {
  /* padding: 0%; */
  background: #00a2df; }
  .our-leadership-team .row .col-lg-6,
  .our-leadership-team .row .col-md-6 {
    padding: 0% !important; }
  .our-leadership-team-right {
    position: absolute;
    right: 0;
    margin-left: -100px; }
  .our-leadership-team .team_member {
    margin: 0;
    float: left;
    max-width: 50%;
    min-height: 303px;
    height: 100%; }
    .our-leadership-team .team_member img {
      -o-object-fit: cover;
         object-fit: cover;
      height: 304px; }
    .our-leadership-team .team_member > h6 {
      margin: 0; }
  .our-leadership-team h3 {
    font-size: 2rem;
    font-family: "pragmatica";
    line-height: 1.25; }
  .our-leadership-team p {
    font-size: 1.125rem;
    font-family: "proxima-nova", sans-serif;
    line-height: 1.778;
    opacity: 0.8; }
  .our-leadership-team .align-items-center {
    min-height: 38rem; }

@media (max-width: 956px) {
  body .our-leadership-team {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%; }
    body .our-leadership-team .align-items-center {
      min-height: 25rem; }
    body .our-leadership-team .team_member {
      max-width: 46%;
      margin: 1% 1%; }
      body .our-leadership-team .team_member a.grayHover {
        width: 100%;
        max-width: 100%; }
        body .our-leadership-team .team_member a.grayHover img {
          height: 100%;
          width: 100%; }
    body .our-leadership-team-right {
      position: relative;
      margin-left: -16px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center; }
  body .our-advisory-board .col {
    display: block;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 80%; }
  body .our-advisory-board .team_member .details {
    display: none; } }

/*====================== Our-Leadership-Team - End ======================*/
/*====================== Deals Section - Start  ======================*/
.deals-section .title {
  font-size: 2rem;
  font-family: "pragmatica";
  border-left: 3px solid #00a2df;
  font-weight: 500;
  color: #2b2b2b;
  padding: 0.625rem 1.4375rem;
  margin-bottom: 1.5625rem;
  letter-spacing: -0.05rem; }

.deals-section .mt-5 {
  margin-top: 3rem !important; }

.deals-section .vendor-title {
  font-size: 1.25rem;
  font-family: "pragmatica";
  font-weight: 500;
  color: #2b2b2b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.deals-section .all-deals {
  font-weight: 600;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  padding: 0.625rem;
  font-size: 1rem;
  margin-bottom: 0.85rem; }
  .deals-section .all-deals:before {
    background: #02bdb6 !important; }

.deals-section .card {
  position: relative;
  height: 256px;
  color: #fff;
  border: none;
  margin-bottom: 1.875rem;
  transition: all 0.5s ease;
  box-shadow: 0px 20px 50px 0px rgba(51, 59, 69, 0.15); }
  .deals-section .card:hover {
    cursor: pointer; }

.deals-section .card-bangladesh .card-deal-image {
  filter: brightness(55%); }

.deals-section .card-bangladesh .card-logo img {
  width: 59%; }

.deals-section .card-body {
  background-color: rgba(0, 0, 0, 0.42);
  background: rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  max-height: 256px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .deals-section .card-body:hover {
    transition: 0.5s; }

.deals-section .card-body-image {
  z-index: 99; }
  .deals-section .card-body-image img {
    -moz-filter: brightness(65%);
    -ms-filter: brightness(65%);
    -o-filter: brightness(65%);
    filter: brightness(65%); }

.deals-section .card-timing {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  margin-top: 0.3125rem;
  height: 1.6rem; }
  .deals-section .card-timing .badge {
    padding: 0.375rem 0.625rem 0.25rem;
    margin-left: 0.5rem; }
  .deals-section .card-timing .badge-success {
    animation: ripple 1.5s cubic-bezier(0.42, 0.76, 0.47, 0.26) infinite;
    background-color: rgba(2, 189, 182, 0.95); }
  .deals-section .card-timing span.time {
    margin-top: -0.25rem;
    display: block; }

.deals-section .card-icon {
  position: absolute;
  right: -12px;
  top: -11px;
  z-index: 11;
  background: rgba(2, 189, 182, 0.95);
  border-radius: 50%;
  padding: 0.625rem;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden; }
  .deals-section .card-icon img {
    width: 21px; }
  .deals-section .card-icon.air {
    background: rgba(0, 162, 223, 0.95);
    transform: rotate(-18deg) !important;
    overflow: hidden; }

.deals-section .card-pickup {
  font-size: 1.25rem;
  font-weight: 500; }

.card-destination {
  font-size: 1.25rem;
  font-weight: 500; }

.deals-section .card-destination {
  font-size: 1.25rem;
  margin-top: 1.125rem;
  margin-left: 1.4375rem;
  margin-bottom: 1.25rem; }
  .deals-section .card-destination:before {
    content: " ";
    background: url("../../../../assets/images/linker.png") no-repeat;
    width: 20px;
    height: 45px;
    position: absolute;
    top: 7.125rem;
    left: 1.4375rem; }

.deals-section .card-pricing h2 {
  margin: 0rem;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  font-family: "pragmatica";
  margin-top: 1.25rem; }
  .deals-section .card-pricing h2 small {
    font-size: 0.875rem;
    display: block;
    font-family: "proxima-nova", sans-serif; }

.deals-section .card-logo {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 115px;
  overflow: hidden;
  background: #fff;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 68.44px; }
  .deals-section .card-logo img {
    width: 80%; }

.deals-section .card-deal-image {
  height: 100%;
  position: absolute;
  z-index: -11;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  transition: all 0.5s ease; }

.deals-section .card:hover .card-deal-image {
  transform: scale(1.09);
  -ms-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -webkit-transform: scale(1.09); }

.deals-section .card:hover .move {
  animation: LeftToRight 0.7s ease both; }

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 1 !important; }

.deals-section .all-deals {
  font-weight: 600;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  padding: 0.625rem;
  font-size: 1rem;
  margin-bottom: 0.85rem; }
  .deals-section .all-deals:before {
    background: #02bdb6 !important; }

.deals-section .btn {
  transition: all 0.5s ease;
  font-size: 1rem;
  font-family: "proxima-nova", sans-serif;
  border-radius: 3px;
  font-weight: 400; }
  .deals-section .btn:hover {
    box-shadow: 0 12px 20px -12px rgba(98, 100, 101, 0.95) !important; }

.deals-section .btn-primary {
  background-color: #02bdb6 !important;
  border-color: #02bdb6; }
  .deals-section .btn-primary.focus, .deals-section .btn-primary:active, .deals-section .btn-primary:focus, .deals-section .btn-primary:hover {
    background-color: #02b9b2;
    border-color: #02b9b2;
    box-shadow: 0 0 0; }
  .deals-section .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #02b9b2;
    border-color: #02b9b2;
    box-shadow: 0 0 0; }
    .deals-section .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(2, 189, 182, 0.5); }

.deals-section .btn-danger {
  background-color: #d32020 !important;
  border-color: #d32020 !important;
  color: #ffffff !important;
  outline: 0 !important;
  box-shadow: none !important; }
  .deals-section .btn-danger:before {
    transform: scaleX(0) !important;
    background-color: #8e161f !important; }
  .deals-section .btn-danger:focus:before {
    transform: scaleX(0) !important; }
  .deals-section .btn-danger:hover:before {
    transform: scaleX(1) !important;
    background-color: #8e161f !important; }

.deals-section .btn-outline-danger {
  color: #d32020 !important;
  border-color: #d32020 !important;
  background-color: #ffffff !important; }
  .deals-section .btn-outline-danger:disabled {
    color: #738593; }
  .deals-section .btn-outline-danger:active, .deals-section .btn-outline-danger:focus, .deals-section .btn-outline-danger:hover, .deals-section .btn-outline-danger:not(:disabled):not(.disabled):active {
    color: #ffffff !important;
    background-color: #02bdb6;
    border-color: #02bdb6;
    box-shadow: 0 0 0; }

.deals-section .btn:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(2, 189, 182, 0.5); }

.deals-section .btn-outline-primary {
  color: #02bdb6;
  border-color: #02bdb6; }
  .deals-section .btn-outline-primary:disabled {
    color: #738593; }
  .deals-section .btn-outline-primary:active, .deals-section .btn-outline-primary:focus, .deals-section .btn-outline-primary:hover, .deals-section .btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #ffffff !important;
    background-color: #02bdb6;
    border-color: #02bdb6;
    box-shadow: 0 0 0; }

.deals-section .btn:disabled {
  box-shadow: none !important;
  cursor: not-allowed;
  border: 0;
  background: #e3e7e9 !important;
  color: #738593 !important;
  border-radius: 2px; }
  .deals-section .btn:disabled:before {
    background: #e3e7e9 !important;
    color: #738593 !important;
    background: #e3e7e9 !important;
    color: #738593 !important; }

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(2, 189, 182, 0.3), 0 0 0 0.2em rgba(2, 189, 182, 0.3), 0 0 0 0.75em rgba(2, 189, 182, 0.3), 0 0 0 1em rgba(2, 189, 182, 0.3); }
  100% {
    box-shadow: 0 0 0 0.2em rgba(2, 189, 182, 0.3), 0 0 0 0.5em rgba(2, 189, 182, 0.3), 0 0 0em 1.5em rgba(255, 255, 255, 0), 0 0 0 2em rgba(70, 173, 169, 0); } }

@keyframes LeftToRight {
  from {
    transform: translate3d(-2.7rem, 0, 1rem); }
  to {
    transform: translate3d(0rem, 0, 0rem); } }

@media (max-width: 768px) {
  .deals-section .we-do-section .we-do-section-left-side {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .deals-section .we-do-section .we-do-section-right-side {
    display: none; } }

/*====================== Deals Section - End ======================*/
/*====================== HashMove Specials Section - Start ======================*/
.title {
  font-size: 2rem;
  font-family: pragmatica, sans-serif;
  border-left: 3px solid #00a2df;
  font-weight: 500;
  color: #2b2b2b;
  padding: 10px 23px;
  margin-bottom: 25px;
  letter-spacing: -0.05rem; }

.special .mt-5 {
  margin-top: 3rem !important; }

.special .card {
  border: 0;
  background: 0 0;
  transition: all 0.5s ease;
  overflow: hidden; }
  .special .card:hover {
    cursor: pointer; }
  .special .card .card-img-top {
    transition: all 0.5s ease;
    border-radius: 4px; }

.special .card-body {
  padding: 30px 0;
  transition: all 0.5s ease; }
  .special .card-body h5 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #2b2b2b; }
  .special .card-body p {
    font-weight: 400;
    font-size: 1.125rem;
    font-family: proxima-nova, sans-serif;
    color: #555;
    line-height: 1.4; }

.special .card-image {
  overflow: hidden;
  border-radius: 4px; }

.special .item:hover .card-img-top {
  transform: scale(1.05); }

/*====================== HashMove Specials Section - End ======================*/
/*====================== HashMove Industry Section - Start ======================*/
.industry-section .special .mt-5 {
  margin-top: 3rem !important; }

.industry-section .special .card {
  border: 0;
  background: 0 0;
  transition: all 0.5s ease;
  overflow: unset;
  margin-bottom: 3rem;
  clear: both; }
  .industry-section .special .card:hover {
    cursor: pointer; }
  .industry-section .special .card .card-img-top {
    transition: all 0.5s ease;
    border-radius: 4px; }

.industry-section .special .card-body {
  padding: 1rem 1rem 0.5rem;
  transition: all 0.5s ease;
  position: relative;
  top: -1rem;
  background-color: #fff;
  margin: 0rem 1rem;
  margin-bottom: -3rem; }
  .industry-section .special .card-body .tag {
    color: #00a2df; }
  .industry-section .special .card-body h5 {
    font-size: 1.25rem;
    font-family: pragmatica, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2b2b2b;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; }
    .industry-section .special .card-body h5:hover {
      color: #18a7a1;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
  .industry-section .special .card-body p {
    font-weight: 400;
    font-size: 1rem;
    font-family: proxima-nova, sans-serif;
    color: #555;
    line-height: 1.5;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis; }

.industry-section .special .card-image {
  overflow: hidden;
  border-radius: 4px;
  max-height: 250px; }

.industry-section .special .item:hover .card-img-top {
  transform: scale(1.05); }

.btn-share {
  fill: #abb6be;
  transition: all 0.15s ease-out; }
  .btn-share:hover {
    fill: #02bdb6; }

.icon-share {
  width: 16px;
  height: 16px;
  cursor: pointer;
  float: right;
  margin-top: 3px; }

/*====================== HashMove Specials Section - End ======================*/
/*====================== Provider-logos Section - Start ======================*/
.providers-logo {
  /* background-color: #e4f5f6; */ }
  .providers-logo .image-boxes__carousel-wrapper {
    border-bottom: solid 0px #ddd; }
    .providers-logo .image-boxes__carousel-wrapper.no-border {
      border: none; }
    .providers-logo .image-boxes__carousel-wrapper .image-boxes__carousel .inner-slide a {
      transition: all 0.15s ease-out; }
    .providers-logo .image-boxes__carousel-wrapper .inner-slide {
      color: #fff;
      color: rgba(255, 255, 255, 0.3);
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      display: block !important;
      height: 64px;
      padding: 2px 2px; }
      .providers-logo .image-boxes__carousel-wrapper .inner-slide:hover {
        color: #fff; }
        .providers-logo .image-boxes__carousel-wrapper .inner-slide:hover a {
          color: #02bdb6; }
      .providers-logo .image-boxes__carousel-wrapper .inner-slide a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%;
        height: 100%; }
      .providers-logo .image-boxes__carousel-wrapper .inner-slide:hover .btn-fullcolor {
        color: #fff; }
      .providers-logo .image-boxes__carousel-wrapper .inner-slide .imgprev {
        background: transparent;
        border: solid 0px #dddddd;
        height: 100%;
        padding: 10px; }
        .providers-logo .image-boxes__carousel-wrapper .inner-slide .imgprev img {
          height: 100%; }
  .providers-logo .slick-slide img {
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease; }

/* Image boxes carousel element */
/* .providers-logo .image-boxes__carousel-wrapper .inner-slide.slick-slide.slick-current.slick-active.slick-item--activated .imgprev img {
    height: 100%;
    
} */
img.img-fluid.deactiveGreyScale {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%) !important;
  opacity: 1 !important;
  transition: all 0.3s ease; }

.providers-logo .image-boxes__carousel-wrapper .inner-slide .details {
  text-align: center; }

.providers-logo .image-boxes__carousel-wrapper .inner-slide [data-role="title"] {
  font-size: 16px;
  margin: 0;
  font-weight: 600; }

.providers-logo .image-boxes__carousel-wrapper .inner-slide [data-role="category"] {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ceced0; }

.providers-logo .image-boxes__carousel-wrapper .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.providers-logo .no-touch .image-boxes__carousel-wrapper .inner-slide .imgprev::after {
  background: transparent;
  border-bottom: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none !important; }

.no-touch .image-boxes__carousel-wrapper .inner-slide .imgprev::after {
  display: none !important; }

.providers-logo .no-touch .image-boxes__carousel-wrapper .inner-slide:hover .imgprev::after {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 0px solid #02bdb6;
  display: none !important; }

.providers-logo .image-boxes__carousel-wrapper .inner-slide:hover .imgprev {
  border-bottom: 0px solid #02bdb6 !important; }

.providers-logo .slick-track {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.providers-logo .title {
  font-size: 2rem;
  font-family: "pragmatica";
  border-left: 0px solid #00a2df;
  font-weight: 500;
  color: #2b2b2b;
  padding: 0.625rem 1.4375rem;
  margin-bottom: 1.5625rem;
  letter-spacing: -0.05rem;
  text-align: center; }

/*====================== Provider-logos Section - End ======================*/
/*====================== customer-Quote Section - Start ======================*/
.customer-quote {
  background-color: #cbd4de;
  background-color: transparent;
  background-image: url("../images/bg-customer-quote.jpg");
  background-size: cover;
  margin-top: 0px;
  /* height: 130px; */
  display: -ms-flexbox;
  display: flex;
  color: #3c4858;
  z-index: 3;
  position: relative;
  text-align: center;
  /* background: -webkit-gradient(linear, left top, right top, from(#00a6da), to(#02babc));
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1); */
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 2.8rem;
  padding-bottom: 0.5rem; }
  .customer-quote .ts-pt-testimonials__text:after {
    display: none; }
  .customer-quote .title {
    border-left: 0px solid #00a2df;
    text-transform: capitalize;
    margin-bottom: 1rem; }
  .customer-quote .ts-pt-testimonials__text {
    padding: 75px 25px 35px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
    border-radius: 5px;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 320px;
    font-family: "proxima-nova", sans-serif; }
  .customer-quote .ts-pt-testimonials__name {
    color: #00a2df;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: "proxima-nova", sans-serif; }
  .customer-quote .ts-pt-testimonials__position {
    color: #777;
    line-height: 1.286;
    font-size: 0.875rem;
    opacity: 1;
    font-family: "proxima-nova", sans-serif; }
  .customer-quote .ts-pt-testimonials__item--size-2 {
    width: calc(100% - 10%); }
  .customer-quote .ts-pt-testimonials__item--normal .ts-pt-testimonials__infos {
    text-align: left; }
  .customer-quote .ts-pt-testimonials__item--normal .ts-pt-testimonials__img {
    margin-top: 0rem;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    margin-left: 35%; }
  .customer-quote .ts-pt-testimonials__item {
    margin-bottom: 20px;
    margin-top: 3rem !important; }
  .customer-quote .image-boxes__carousel-wrapper {
    border-bottom: 0; }
  .customer-quote a {
    color: #02bdb6; }
    .customer-quote a:hover {
      color: #18a7a1; }

/*====================== customer-Quote Section - End ======================*/
/*====================== Grow-With-Us Section AND Start Booking With... - Start ======================*/
.grow-with-us,
.start-booking-with-us {
  /* background-color: #00a6da;
  background-image: url('../images/bg-start-with-us.png') !important;
  background-size: cover; */
  background: #00a6da;
  margin-top: 0px;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  z-index: 3;
  position: relative;
  text-align: left;
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: left;
      align-items: left; }
  .grow-with-us .btn,
  .start-booking-with-us .btn {
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1rem;
    border-color: #02bdb6;
    font-family: proxima-nova, sans-serif !important;
    font-weight: 500; }

.grow-with-us .el-devimages__laptop {
  width: 100%;
  height: 380px !important;
  /* background-image: url(../images/devices/macbook.png); */ }

.grow-with-us .el-devimages--type-vector .el-devimages__laptop-img {
  left: 16.9%;
  top: 6.9%;
  right: 18.2%;
  background-size: contain;
  box-shadow: none; }

.grow-with-us .title {
  border-left: 3px solid #fff;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 2.4rem; }

.grow-with-us p {
  color: #fff; }

.grow-with-us .btn {
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1rem;
  border-color: #02bdb6;
  font-family: proxima-nova, sans-serif !important;
  font-weight: 500; }

.start-booking-with-us h4 {
  font-size: 2.5rem;
  font-family: "pragmatica", "sans-serif" !important;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  margin: 0 0 15px;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  text-transform: capitalize;
  border-left: 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.start-booking-with-us .media-container__link--style-borderanim2 .media-container__text {
  font-family: proxima-nova, sans-serif !important;
  font-size: 1.2rem;
  letter-spacing: 0px;
  font-weight: 500;
  transition: all 0.5s;
  width: 100%;
  text-transform: uppercase;
  background-color: #02bdb6; }
  .start-booking-with-us .media-container__link--style-borderanim2 .media-container__text:hover {
    color: #02bdb6; }

.start-booking-with-us .btn-lined {
  padding: 0.5rem; }

.start-booking-with-us .borderanim2-svg {
  width: 260px; }

.start-booking-with-us .media-container__link--style-borderanim2 .borderanim2-svg__shape {
  stroke: #fff;
  opacity: 0.7; }

.start-booking-with-us .media-container
.media-container__link--style-borderanim2
.media-container__text:hover {
  color: #fff;
  transition: all 0.5s;
  background-color: #18a7a1; }

/*====================== Grow-With-Us Section - End ======================*/
/*====================== HM News Section - Start ======================*/
.hm-news-section .eBlog .itemContainer {
  background: transparent;
  box-shadow: none; }

.hm-news-section .hg_post_image {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
  border-bottom: 0px solid #02bdb6; }
  .hm-news-section .hg_post_image a img {
    border-radius: 0.25rem;
    border: solid 1px #e1e1e1;
    width: 320px;
    height: auto; }

.hm-news-section .eBlog .itemLinks,
.hm-news-section .eBlog .itemComments,
.hm-news-section .eBlog .itemTagsBlock,
.hm-news-section .eBlog .itemContainer:after,
.hm-news-section .eBlog .post_details:before {
  display: none; }

.hm-news-section .eBlog .itemReadMore {
  float: left; }

.hm-news-section .eBlog .itemTitle {
  font-size: 2rem;
  font-family: pragmatica, sans-serif !important;
  line-height: 1.125;
  font-weight: 500; }

.hm-news-section .eBlog .post_details {
  margin-bottom: 0.5rem;
  padding: 0px; }

.hm-news-section .eBlog .extarnal-news-logo {
  max-height: 48px;
  width: auto;
  overflow: hidden;
  margin: 0;
  margin-bottom: 0.5rem; }

/*====================== HM News Section - End ======================*/
/*====================== Contact Us - Section - Start ======================*/
.contact-us-subheader-section {
  background-color: #f1f3f4 !important; }
  .contact-us-subheader-section .kl-iconbox--fleft .kl-iconbox__icon-wrapper {
    float: none;
    margin-right: auto;
    text-align: center; }
  .contact-us-subheader-section .kl-iconbox__content-wrapper {
    text-align: center; }
  .contact-us-subheader-section .kl-iconbox__desc {
    font-size: 0.85rem;
    color: #00a2df;
    font-family: pragmatica, sans-serif !important;
    font-weight: 500;
    text-transform: uppercase; }
  .contact-us-subheader-section .kl-iconbox__title-wrapper .btn {
    font-size: 1rem;
    font-family: pragmatica, sans-serif !important;
    font-weight: 500;
    line-height: 1.2; }
  .contact-us-subheader-section .kl-iconbox__title {
    font-size: 1.125rem;
    font-family: pragmatica, sans-serif !important;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 15px; }
    .contact-us-subheader-section .kl-iconbox__title span {
      color: #02bdb6; }

/*====================== Contact Us - Section - End ======================*/
/*====================== Why hashmove Section - Start ===========================*/
.right {
  text-align: right; }

.left {
  text-align: left; }

.quotes {
  height: 100%;
  background: #f2f3f5;
  position: relative;
  z-index: 1;
  /* background-color: #254d4d !important;
background: -webkit-gradient(linear, left top, right top, from(#254d4d), to(#4d4d4d));
background: linear-gradient(to right, #254d4d 0, #4d4d4d 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#254d4d', endColorstr='#4d4d4d', GradientType=1); */
  /* border-bottom: solid 8px #00a6da; */ }
  .quotes .quotes-mark {
    margin-top: -10px;
    font-weight: bold;
    font-size: 6rem;
    color: #00a6da;
    /* font-family: cursive; */ }
  .quotes .quotes-description {
    font-size: 1rem;
    color: #717171;
    text-align: left; }
    .quotes .quotes-description h2 {
      font-size: 2.5rem;
      padding-bottom: 25px;
      font-weight: 500;
      font-family: pragmatica, sans-serif;
      letter-spacing: -0.06rem;
      color: #333333;
      text-align: left;
      line-height: 1.2; }
    .quotes .quotes-description p {
      color: #717171;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: -0.025rem;
      line-height: 1.6; }

.we-do-section {
  height: 550px;
  background: #f1f3f4;
  position: relative;
  z-index: 1; }

.we-do-section-left-side {
  margin-top: 65px;
  padding-left: 5%; }
  .we-do-section-left-side h2 {
    font-size: 2.5rem;
    padding-bottom: 25px;
    font-weight: 500;
    font-family: "pragmatica" !important;
    letter-spacing: -0.06rem;
    color: #2b2b2b; }
  .we-do-section-left-side p {
    color: #717171;
    font-size: 1.25rem;
    font-weight: 300;
    /* letter-spacing: -.025rem; */
    line-height: 1.6;
    font-size: 1.02rem; }

.we-do-section-right-side {
  overflow: hidden;
  height: 470px; }
  .we-do-section-right-side .img-responsive {
    text-align: center;
    padding-right: 5%; }
    .we-do-section-right-side .img-responsive img {
      margin-right: 60px; }

.icon-shippers,
.icon-provider {
  line-height: 4.2rem !important; }

.icon-shippers svg,
.icon-provider svg {
  width: 3.2rem;
  fill: #02bdb6; }

.services_box--modern:hover .services_box__icon .icon-shippers svg,
.services_box--modern:hover .services_box__icon .icon-provider svg {
  fill: #fff; }

.about-image {
  transition: all 1s; }
  .about-image:hover .zoom {
    display: block !important; }

.zoom {
  padding: 50px;
  transition: transform 0.1s;
  width: 100%;
  height: 100% !important;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0; }

.html-video {
  width: 100%;
  height: 408px;
  position: absolute;
  top: 65px;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover; }

.grey-video .img-fluid {
  display: none; }

video.hover-main.animated.fadeIn {
  -o-object-fit: cover;
  object-fit: cover;
  width: 59%; }

/*====================== Why Hashmove Section - End ============================*/
/*============================= Press Section - Start ===============================*/
.img-press {
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 640px; }

.press {
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .press .title {
    border-left: 3px solid #00a2df;
    font-weight: 500;
    color: #2b2b2b;
    font-size: 2rem;
    padding: 6px 20px 10px 30px;
    margin-bottom: 25px;
    line-height: 1; }
    .press .title.single-title {
      width: 100%;
      clear: both; }

.press-cards .card,
.press-media .card {
  padding-left: 36px;
  background: 0 0;
  margin-bottom: 31px;
  border: none;
  font-family: proxima-nova, sans-serif !important; }

.press-cards .card-title,
.press-media .card-title {
  color: #738593;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 3px; }

.press-cards .card-image,
.press-media .card-image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 15px; }

.press-cards .card-image img,
.press-media .card-image img {
  border-radius: 0 !important;
  width: 100%; }

.press-cards .card-body,
.press-media .card-body {
  padding: 0; }

.press-cards .card-body h6,
.press-media .card-body h6 {
  margin-bottom: 0;
  font-size: 1rem;
  color: #2b2b2b;
  font-weight: 400;
  text-shadow: 0 0;
  margin-top: 2px; }

.press-cards .card-body p,
.press-media .card-body p {
  font-weight: 400;
  font-size: 1rem; }

.press-cards .card {
  padding-left: 0;
  overflow: hidden;
  transition: all 0.3s ease; }

.press-cards .card-image .video-play {
  position: absolute;
  padding: 8px 16px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  border-radius: 0 3px 0 0; }

.press-cards .card-body {
  transition: all 0.3s ease; }
  .press-cards .card-body h6 {
    font-size: 1.21rem;
    font-weight: 400;
    margin-top: 6px;
    letter-spacing: 0.05rem;
    line-height: 1.3;
    word-spacing: 0;
    font-family: pragmatica, sans-serif !important; }

.press-cards .card:hover .card-image {
  transform: scale(1.09); }

.press-cards .card-image {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  border-radius: 0;
  overflow: hidden;
  transition: all 0.5s ease; }

.press-feeds:focus {
  outline: 0; }

.press-feeds-container {
  border-right: 1px solid #e5e5e5;
  padding-right: 2rem;
  margin-bottom: 2rem; }
  .press-feeds-container .carousel-indicators {
    display: none; }
  .press-feeds-container a.carousel-control-next, .press-feeds-container a.carousel-control-prev {
    display: none; }

.press-feeds .image-container {
  border: 1px solid #e5e5e5;
  padding: 1rem;
  height: 113px;
  overflow: hidden;
  margin-bottom: 2rem;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .press-feeds .image-container img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain; }

.press-feeds h5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 3px;
  color: #2b2b2b; }

.press-feeds h6 {
  font-weight: 400;
  font-size: 0.875rem;
  color: #777;
  font-family: proxima-nova, sans-serif;
  margin-top: 6px; }

.press-feeds p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #555;
  font-family: proxima-nova, sans-serif;
  line-height: 1.4;
  margin-top: 10px; }

.press-feeds ul li {
  display: block;
  margin-bottom: 10px; }

.press-feeds .feeds-container .carousel-control-next,
.press-feeds .feeds-container .carousel-control-prev {
  display: none; }

.press-feeds .feeds-container:hover .feeds-description {
  padding-left: 8px;
  transition: 0.4s;
  position: relative; }
  .press-feeds .feeds-container:hover .feeds-description:before {
    top: 4px;
    content: " ";
    position: absolute;
    left: -10px;
    color: #00a2df;
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    animation: 0.4s ease-in-out LeftToRight;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.press-feeds .feeds-container .col-12.col-sm-8 {
  overflow: hidden; }

.press-feeds .feeds-description {
  cursor: pointer;
  transition: all ease 0.4s;
  text-align: left; }

.press .bullets {
  float: left;
  width: 100%;
  text-align: center; }
  .press .bullets ul {
    margin-bottom: 0; }
    .press .bullets ul li {
      display: inline-block;
      padding: 0 2px; }
      .press .bullets ul li:first-child i {
        color: #00a2df; }
      .press .bullets ul li i {
        font-size: -3rem;
        color: #afafaf; }

:focus {
  outline: 0 !important; }

.carousel-indicators {
  bottom: -25px; }
  .carousel-indicators li {
    background-color: #afafaf;
    width: 9px;
    height: 9px;
    border-radius: 50%; }
    .carousel-indicators li:hover {
      cursor: pointer;
      background-color: #00a2df;
      transition: all 0.5s ease-in-out; }
  .carousel-indicators .active {
    background-color: #00a2df; }

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 1 !important; }

@media (max-width: 800px) {
  .press-feeds-container {
    border: none;
    padding-right: 0; } }

@media (max-width: 767px) {
  body {
    background: inherit; } }

/*============================= Press Section - End ===============================*/
@media (min-width: 1400px) {
  /* ---  Setting Container Width  --- */
  .container {
    width: 100%;
    max-width: 1350px;
    padding: 0px 20px; } }

@media (min-width: 1201px) {
  .we-do-section-left-side {
    margin-top: 30px; } }

@media (max-width: 1200px) {
  /* --- footer responsive --- */
  .mini-footer .social-links {
    display: -ms-flexbox;
    display: flex; }
    .mini-footer .social-links li a {
      margin-right: 0.4rem !important; } }

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* --- What We DO --- */
  .we-do-section {
    height: 440px;
    overflow: hidden; }
  .we-do-section-left-side {
    margin-top: 1rem;
    /* padding-left: 0%; */ }
    .we-do-section-left-side h2 {
      font-size: 2rem;
      padding-bottom: 0.5rem; }
    .we-do-section-left-side p {
      font-size: 0.875rem; }
  /* ---  USP Section  --- */
  .usp-sub-megamenu:before {
    left: 8.1rem; }
  /* ---  USP Section  --- */ }

@media (max-width: 992px) {
  /* Home Page Logistics Button */
  .logolist li {
    -ms-flex-align: center;
        align-items: center; }
  /* ---  Header Responsive  --- */
  #zn-res-menuwrapper .zn-res-trigger::after {
    background: #000 !important;
    box-shadow: 0 8px 0 #000, 0 16px 0 #000 !important; }
  .site-header .logo-container {
    padding: 0px; }
  .end-footer .col-md-12.offset-lg-1 {
    margin: 0 !important;
    margin: 0 !important; }
    .end-footer .col-md-12.offset-lg-1 .copyrights {
      text-align: center !important; }
  .mini-footer .col-md-4.col-sm-6.text-center {
    display: none; }
  .mini-footer .d-flex,
  .mini-footer .connect {
    max-width: 50%;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
  .mini-footer h6 {
    padding-left: 21%; }
  .mini-footer .social-links {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  /* ---  Header Responsive  --- */
  /* --- USP section --- */
  .usp-section .usp-box .usp-menu ngu-item:last-child .item-sub-section,
  .usp-section .usp-box .usp-menu.border-control-right .item:nth-child(4) .item-sub-section {
    border-right: 1px solid #13cde4 !important; }
  /* --- USP section --- */
  /* --- What We DO --- */
  .we-do-section {
    height: 430px;
    overflow: hidden; }
  .we-do-section-left-side {
    margin-top: 0rem;
    /* padding-left: 0%; */ }
    .we-do-section-left-side h2 {
      font-size: 2rem;
      padding-bottom: 0rem; }
    .we-do-section-left-side p {
      font-size: 0.825rem; } }

@media (max-width: 800px) {
  .press-feeds-container {
    border: none;
    padding-right: 0; } }

@media only screen and (min-width: 850px) and (max-width: 991px) {
  .container {
    max-width: 760px; } }

@media (max-width: 767px) {
  /*--- Header menu ---*/
  .site-header-main-center,
  .hg_post_image {
    margin-right: 0px; }
  /* --- footer responsive --- */
  .mini-footer .ibox .container .col-md-3.col-sm-6.d-flex {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .mini-footer .ibox .container .col-md-4.col-sm-6.text-center {
    display: none; }
  .mini-footer .ibox .container .col-md-4.col-sm-12.connect {
    margin-top: 20px; }
  .mini-footer .social-links {
    /* display: flex; */
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .mini-footer .d-flex,
  .mini-footer .connect {
    max-width: 100%;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%; }
  .mini-footer h6 {
    padding-left: 0%; }
  .mini-footer .social-links {
    -ms-flex-pack: center;
        justify-content: center; }
  .img-press {
    margin-left: 0px;
    margin-bottom: 20px !important; } }

/*============================= Press Section - End   ===============================*/
/* Provider LOgos Section */
.provider-logos-section {
  display: none; }
  .provider-logos-section .logolist {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }

.logolist li {
  width: 150px;
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 13%;
      flex: 0 0 13%;
  /* border: 1px red solid; */
  text-align: center; }
  .logolist li a img {
    width: 150px; }

/*============================= Contact Page  Start  ===============================*/
.contact-page .page-subheader {
  /* background: url('../images/banner/connecting-contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 44px; */ }

.contact-page div#page_header .col-sm-12.text-center {
  /*background: #00000063;*/
  padding: 40px;
  margin-top: -60px; }
  .contact-page div#page_header .col-sm-12.text-center h1 {
    text-shadow: 2px 2px 20px #4e4e4e; }
  .contact-page div#page_header .col-sm-12.text-center h4 {
    text-shadow: 2px 2px 20px #4e4e4e;
    font-size: 2rem;
    font-weight: 800; }

/*============================= Contact Page  End  ===============================*/
/*============================= Market Place  Start  ===============================*/
.marketing-service-provider-section {
  background: #f7f7f7; }

/*============================= Market Place  Start  ===============================*/
/*============================= Static Pages Section - Start   ===============================*/
h1,
.page-title {
  font-family: "pragmatica", "sans-serif" !important; }

.page-subheader {
  background-color: #27268d !important;
  background: linear-gradient(to right, #27268d 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27268d', endColorstr='#02babc', GradientType=1); }
  .page-subheader .ph-content-wrap {
    min-height: 616px !important; }
  .page-subheader .no-subheader-banner {
    min-height: 316px !important; }
  .page-subheader .ph-content-wrap .btn {
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.352;
    font-family: "proxima-nova", sans-serif !important;
    font-weight: 500;
    min-width: 200px;
    margin-top: 1.5rem; }

.terms-conditions ul li,
.terms-conditions ol li {
  list-style: disc !important; }

.privacy-policy ul li,
.privacy-policy ol li {
  list-style: disc !important; }

.el-devimages__smartphone {
  display: block; }

.tbk__subtitle {
  font-family: "pragmatica", "sans-serif" !important; }

.text_box-title--style2 {
  font-size: 1rem; }

.our-leadership-team .team_member > h4 {
  position: relative;
  top: -5rem;
  font-size: 1.25rem;
  font-family: "pragmatica" !important;
  text-align: center;
  margin-bottom: -2.1rem !important;
  color: #00a6da;
  font-weight: 500;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /* background-color: rgba(0, 0, 0, 0.2) */ }

.our-leadership-team .team_member > h6 {
  font-size: 0.875rem;
  padding-top: 0px;
  font-family: "proxima-nova", sans-serif !important;
  color: #fff;
  position: relative;
  top: -3rem;
  text-align: center;
  margin-bottom: -2.85rem !important;
  line-height: 1.714;
  /* background-color: rgba(0, 0, 0, 0.2) */ }

.our-leadership-team .details {
  padding-top: 1rem;
  margin-top: 0.3rem; }

.our-advisory-board .details {
  padding-top: 1rem;
  margin-top: 0.3rem; }

.our-leadership-team .details p {
  font-size: 0.9rem; }

.our-advisory-board .details p {
  font-size: 0.9rem; }

.our-advisory-board .team_member {
  margin-top: 0.875rem;
  text-align: center; }
  .our-advisory-board .team_member > h4 {
    margin-bottom: 0px;
    color: #00a6da;
    font-family: "pragmatica" !important;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6; }
  .our-advisory-board .team_member > h6 {
    font-size: 0.75rem;
    padding-top: 0px;
    color: #555555;
    line-height: 1.429;
    font-family: "proxima-nova", sans-serif !important; }
  .our-advisory-board .team_member .details {
    text-align: left; }
  .our-advisory-board .team_member > h4 {
    margin-bottom: 0px;
    color: #00a6da;
    font-family: "pragmatica" !important;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6; }

.our-advisory-board h3 {
  font-size: 2.5rem;
  font-family: "pragmatica", sans-serif !important;
  color: #2b2b2b;
  line-height: 1.2;
  text-align: center;
  font-weight: 500; }

/*============================= Static Pages Section - End   ===============================*/
/*============================= HOME - Digital Multimodal Logistics Platform Section - Start   ===============================*/
.logistics-platform-section {
  background-color: #00a6da !important;
  background: linear-gradient(to right, #00a6da 0, #02babc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1);
  z-index: 9999; }
  .logistics-platform-section .grid-ibx__item {
    background-color: transparent !important;
    /* background: -webkit-gradient(linear, left top, right top, from(#00a6da), to(#02babc));
    background: linear-gradient(to right, #00a6da 0, #02babc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a6da', endColorstr='#02babc', GradientType=1); */ }

.digital-multimodal-logistics-platform .grid-ibx__title-wrp,
.digital-multimodal-logistics-platform .grid-ibx__icon-wrp,
.digital-multimodal-logistics-platform .grid-ibx__desc-wrp {
  /* margin-top: 20px !important; */
  margin-bottom: 10px !important; }

.digital-multimodal-logistics-platform .grid-ibx__item:last-child {
  border-right: 0px; }

.digital-multimodal-logistics-platform .icon-gi-ico-4:before,
.digital-multimodal-logistics-platform .icon-process3:before,
.digital-multimodal-logistics-platform .icon-gi-ico-14:before,
.digital-multimodal-logistics-platform .icon-gi-ico-12:before {
  display: none; }

.digital-multimodal-logistics-platform .grid-ibx__icon img,
.digital-multimodal-logistics-platform .grid-ibx__icon svg {
  width: 32px;
  height: 32px;
  opacity: 1; }

.digital-multimodal-logistics-platform h4.grid-ibx__title.kl-font-alt.fs-normal {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "pragmatica" !important;
  text-transform: uppercase;
  color: #fff; }

/*============================= HOME - Digital Multimodal Logistics Platform Section - End   ===============================*/
/* .logolist li {
    width: 150px;
    height: 65px;
    display: flex;
    justify-content: center;
} */
.logolist li img {
  width: 100%;
  height: 100%; }

/* ---  FOOTER CSS  ---- */
.cf_response {
  display: none; }

.footer-desktop {
  display: block; }

.footer-mobile {
  display: none; }

footer .accordion {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 0.8rem 0.5rem 0.4rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.4s;
  font-family: "proxima-nova", sans-serif !important; }

footer .active {
  background: #414e5d; }

footer .accordion:hover {
  background: #414e5d; }

footer .accordion:after {
  content: "\002B";
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  float: right;
  margin-left: 5px;
  margin-top: -0.3rem;
  margin-bottom: 0rem; }

footer .active:after {
  content: "\2212"; }

footer .panel {
  padding: 0.5rem 0.5rem 0.2rem;
  background-color: transparent;
  color: #ffffff;
  opacity: 1;
  max-height: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  footer .panel .list-group {
    margin-bottom: 0.3rem; }
    footer .panel .list-group .list-group-item {
      background: none;
      border: 0px;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 400;
      padding: 0rem 0rem;
      opacity: 0.6;
      margin-bottom: 1px;
      margin-left: 1px;
      font-family: "proxima-nova", sans-serif !important; }
      footer .panel .list-group .list-group-item a {
        color: #ffffff;
        font-size: 1rem;
        text-decoration: underline;
        display: inline-block;
        margin-top: 0.625rem; }
        footer .panel .list-group .list-group-item a img {
          margin-right: 0.625rem; }
      footer .panel .list-group .list-group-item:hover {
        opacity: 1;
        transition: all 1s; }

.mini-footer {
  /* background: #c7ced4; */
  background: #252f39 !important;
  color: rgba(255, 255, 255, 0.4); }

.mini-footer2 {
  background: #252f39 !important;
  color: rgba(255, 255, 255, 0.4); }
  .mini-footer2 .ibox {
    padding: 2rem 0 0 !important; }
    .mini-footer2 .ibox .logo-img {
      width: 15.75rem !important;
      opacity: 0.8; }
    .mini-footer2 .ibox .d-flex {
      padding-left: 2rem !important; }

.mini-footer .ibox {
  background: transparent;
  padding: 1.875rem 0; }
  .mini-footer .ibox .container {
    padding: 0rem 20px !important; }

.mini-footer h6 {
  font-size: 1.05rem;
  font-weight: 400;
  text-shadow: 0px 0px;
  margin-bottom: 1.03rem; }

.mini-footer .input-group .form-control {
  border-radius: 3px 0px 0px 3px;
  margin-right: 0rem;
  font-weight: 400;
  font-size: 0.875rem;
  height: 48px; }

.mini-footer .input-group button {
  border-radius: 0px 3px 3px 0px !important;
  text-transform: uppercase;
  font-weight: 400;
  background: #02bdb6;
  border-color: #02bdb6;
  padding: 0;
  font-size: 0.875rem;
  height: 48px !important;
  transition: all ease 0.7s; }
  .mini-footer .input-group button:hover {
    background: #02b9b2;
    border-color: #02b9b2;
    box-shadow: 0 12px 20px -12px rgba(98, 100, 101, 0.95) !important; }

.mini-footer .social-links {
  list-style: none;
  padding: 0rem; }
  .mini-footer .social-links li {
    display: inline-block; }
    .mini-footer .social-links li .tooltip {
      text-transform: capitalize; }
    .mini-footer .social-links li a {
      text-transform: capitalize;
      padding: 0.625rem;
      font-size: 22px;
      background: #3f5165;
      color: #ffffff;
      margin-right: 0.9375rem;
      display: inline-block;
      width: 48px;
      height: 48px;
      text-align: center;
      transition: all 1s ease;
      line-height: 1.4; }

.mini-footer .social-links2 li a {
  background: #333f4c !important;
  border-radius: 1.8rem; }

.mini-footer .social-links li a:hover,
.mini-footer .social-links2 li a:hover {
  background: #02bdb6 !important;
  color: #ffffff !important; }

.mini-footer .providers-links {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
  overflow: hidden; }
  .mini-footer .providers-links .item div {
    width: 50px;
    height: 40px;
    margin-right: 0.9375rem;
    display: inline-block; }
    .mini-footer .providers-links .item div img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .mini-footer .providers-links .leftRs {
    background: transparent !important;
    position: absolute;
    top: 2px;
    left: -0.5625rem;
    visibility: hidden; }
    .mini-footer .providers-links .leftRs i {
      font-size: 6rem; }
    .mini-footer .providers-links .leftRs:focus {
      box-shadow: 0px 0px 0px; }
  .mini-footer .providers-links .rightRs {
    background: transparent;
    position: absolute;
    top: 2px;
    right: -0.5625rem;
    visibility: hidden; }
    .mini-footer .providers-links .rightRs i {
      font-size: 6rem; }
    .mini-footer .providers-links .rightRs:focus {
      box-shadow: 0px 0px 0px; }
  .mini-footer .providers-links li {
    display: inline-block; }
    .mini-footer .providers-links li div {
      width: 50px;
      height: 40px;
      margin-right: 0.9375rem;
      display: inline-block; }
      .mini-footer .providers-links li div img {
        width: 100%; }

.mini-footer .custom-btn {
  width: 7.5rem !important;
  height: 40px !important; }

.main-footer {
  background: #333f4c;
  padding: 1.25rem 0rem;
  color: #ffffff; }
  .main-footer .ibox {
    background: transparent; }
    .main-footer .ibox .container {
      padding: 1rem 1rem 0rem 1rem !important; }
    .main-footer .ibox.ibox-bordered .container {
      border-bottom: 0px solid #8f9da9; }
  .main-footer h6 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.045rem;
    margin-bottom: 0.6rem;
    font-family: "proxima-nova", sans-serif;
    font-size: 1rem; }
  .main-footer .list-group {
    -ms-flex-direction: unset;
    flex-direction: unset; }
    .main-footer .list-group.contacts {
      -ms-flex-direction: column;
      flex-direction: column; }
      .main-footer .list-group.contacts a {
        color: #ffffff !important;
        font-size: 1rem;
        text-decoration: underline;
        display: inline-block;
        margin-top: 0.625rem;
        position: relative;
        color: inherit;
        text-decoration: none;
        line-height: 24px;
        width: auto; }
        .main-footer .list-group.contacts a:before, .main-footer .list-group.contacts a:after {
          content: "";
          position: absolute;
          transition: transform 0.5s ease; }
        .main-footer .list-group.contacts a.link-hover-1 {
          padding-top: 10px; }
          .main-footer .list-group.contacts a.link-hover-1:before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #f7f7f7;
            transform: scaleX(0); }
          .main-footer .list-group.contacts a.link-hover-1:hover:before {
            transform: scaleX(1); }
    .main-footer .list-group .list-group-item {
      background: none;
      border: 0px;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 400;
      padding: 0rem 0rem;
      opacity: 0.6;
      margin-bottom: 1px;
      margin-left: 1px;
      position: relative;
      color: inherit;
      text-decoration: none;
      line-height: 24px;
      width: auto; }
      .main-footer .list-group .list-group-item:before, .main-footer .list-group .list-group-item:after {
        content: "";
        position: absolute;
        transition: transform 0.5s ease; }
      .main-footer .list-group .list-group-item:hover {
        opacity: 1;
        transition: all 1s;
        color: #ffffff !important; }

.end-footer {
  background: #ffffff;
  padding: 1rem 0 1rem !important;
  font-size: 0.85rem;
  word-spacing: 2px; }

.end-footer2 {
  background: #252f39 !important;
  color: rgba(255, 255, 255, 0.4); }

.end-footer .copyrights {
  color: #777777;
  text-align: left; }

.end-footer .text-success strong {
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "proxima-nova", sans-serif; }

.end-footer .copyrights .footer-menu {
  list-style: none;
  padding: 0rem; }
  .end-footer .copyrights .footer-menu li {
    display: inline-block; }
    .end-footer .copyrights .footer-menu li a {
      color: rgba(255, 255, 255, 0.4); }
      .end-footer .copyrights .footer-menu li a:hover {
        color: #02bdb6; }

@media (max-width: 800px) {
  .mini-footer {
    text-align: center; }
    .mini-footer .connect .social-links {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0rem; }
      .mini-footer .connect .social-links li a {
        margin-right: 0rem; }
    .mini-footer .input-group .form-control {
      margin-right: 0; }
    .mini-footer .input-group .input-group-prepend .btn {
      width: 100%; }
    .mini-footer .providers-links {
      margin-bottom: 2rem; }
  .end-footer {
    text-align: center; } }

@media (max-width: 767px) {
  /* --  Home Page Header -- */
  section.banner {
    margin: 0;
    /* height: 300px; */
    height: auto;
    margin-top: 0px; }
  .we-do-section-left-side {
    padding-left: 2%;
    padding-right: 2% !important; }
  /* --  Home Page Header -- */
  /* what we do */
  .we-do-section {
    height: auto !important; }
  /*-- hide from mobile and to show desktop */
  .hg_section_desktop,
  .hg_section_mobile {
    display: block; }
  /*-- hide from desktop and to show mobile */
  .hg_section {
    margin-bottom: 0px !important; }
  .usp-sub-megamenu p {
    margin: 0px; }
  section.banner .bannerbg,
  .we-do-section-right-side {
    display: none; }
  .logistics-platform-section {
    display: none; }
    .logistics-platform-section .col-12.pb-50 {
      display: none; }
  .responsive-banner {
    /* display: block;
    height: 300px; */
    height: auto;
    margin-top: 0px !important; }
  .logistics-slider-responsive {
    display: block;
    height: 200px; }
    .logistics-slider-responsive img {
      width: 100%;
      height: 100%; }
  /* .responsive-banner img {
      max-height: 100%;
      max-width: fit-content;
  } */
  .logolist li a img {
    width: 100%;
    height: 65px; }
  .kl-revolution-slider {
    display: none;
    background-size: contain;
    height: 12.75rem !important;
    max-width: 47.9375rem !important; }
  .we-do-section-left-side h2 {
    font-size: 1.8rem; }
  .we-do-section-left-side p {
    font-size: 0.75rem; }
  .we-do-section-right-side .img-responsive img {
    display: none; }
  /* ---  USP Section Start  --- */
  .item.add .usp-sub-megamenu {
    width: 420px !important;
    margin-left: 40px; }
  /* ---  USP Section End  --- */
  /* ---  logistics-platform-section  --- */
  .logistics-platform-section
.grid-ibx--style-lined-center
.grid-ibx__row:last-child
.grid-ibx__item {
    border-bottom-width: 1px;
    border-right: 0; }
  .footer-desktop {
    display: none; }
  .footer-mobile {
    display: block !important; }
  .mini-footer {
    text-align: center; }
    .mini-footer .connect .social-links {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0rem;
      -ms-flex-pack: center;
          justify-content: center;
      margin-top: 1rem; }
      .mini-footer .connect .social-links li a {
        margin-right: 0.4rem; }
    .mini-footer .input-group .form-control {
      margin-right: 0;
      height: 40px; }
    .mini-footer .input-group .input-group-prepend .btn {
      width: 100%; }
    .mini-footer .providers-links {
      margin-bottom: 2rem; } }

@media (max-width: 480px) {
  /* ---  USP Section Start  --- */
  .item.add .usp-sub-megamenu {
    width: 15rem !important;
    margin-left: 12px;
    height: auto; }
    .item.add .usp-sub-megamenu:before {
      left: 7.6rem; }
  /* ---  USP Section End  --- */
  section.banner .banner-heading {
    font-size: 2.65rem !important; }
    section.banner .banner-heading span {
      font-size: 16px !important; } }

@media (max-width: 360px) {
  /* ---  USP Section Start  --- */
  .item.add .usp-sub-megamenu {
    margin-left: -20px; }
  /* ---  USP Section End  --- */ }

.input-group .form-control {
  margin-right: 0;
  height: 40px; }

.input-group .input-group-prepend .btn {
  width: 100%; }

.providers-links {
  margin-bottom: 2rem; }

.end-footer {
  text-align: center; }

.moveuptext {
  animation: moveUp 0.5s; }

.btn-error {
  animation: shake 1.4s; }
  .btn-error .btn-primary.hvr-sweep-to-right {
    background: #d32020 !important;
    border-color: #d32020 !important; }
    .btn-error .btn-primary.hvr-sweep-to-right:before {
      background: #d32020 !important;
      border-color: #d32020 !important; }

@keyframes moveUp {
  0% {
    transform: translateY(50%);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes shake {
  0%,
  100% {
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px); }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px); } }

a.btn.btn-lined.lined-custom.btn-md.btn-block.kl-cta-ribbon {
  background: #fff !important;
  color: #02b9b2 !important;
  font-size: 1rem;
  text-transform: uppercase; }

/* Using SCSS variables to store breakpoints */
@media (max-width: 1280px) {
  body .page-subheader .ph-content-wrap {
    min-height: 100% !important; } }

@media (max-width: 1024px) {
  body .our-leadership-team-right {
    margin-left: -105px; } }

@media (max-width: 992px) {
  body .container {
    max-width: 100%; }
  body .page-subheader .ph-content-wrap h1 {
    font-size: 3rem; }
  body #header.site-header {
    padding: 0px; }
  body .site-header-main-center {
    margin: 0; }
  body .site-header .logo-container {
    padding: 0px 0; }
    body .site-header .logo-container .site-logo {
      margin-top: 0px; }
      body .site-header .logo-container .site-logo img.logo-img {
        display: block;
        margin-top: 3px; }
      body .site-header .logo-container .site-logo svg {
        display: none; }
  body .quotes .quotes-description h2 {
    font-size: 2rem; }
  body .our-leadership-team-right {
    margin-left: -125px; }
  body .our-leadership-team.col-sm-12.col-md-8.col-lg-8 .col-8 {
    margin-left: -120px; }
  body .mini-footer h6 {
    padding: 0; }
  body .mini-footer .col-md-4.col-sm-12 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%; }
    body .mini-footer .col-md-4.col-sm-12.text-center {
      display: none; }
    body .mini-footer .col-md-4.col-sm-12.connect h6 {
      margin-left: 41%; } }

@media (max-width: 768px) {
  body .page-subheader {
    min-height: 100px; }
    body .page-subheader .ph-content-wrap {
      padding: 20px; }
      body .page-subheader .ph-content-wrap h1 {
        font-size: 2rem;
        margin-top: 28px; }
  body .usp-section {
    height: 90px; }
  body .grow-with-us {
    padding: 0 !important; }
    body .grow-with-us .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
    body .grow-with-us .el-devimages--type-vector .el-devimages__laptop {
      width: 100%;
      margin-top: 50px;
      padding-bottom: 0px;
      height: 250px !important;
      padding-bottom: 51%; }
  body .quotes .we-do-section-right-side {
    height: auto !important; }
    body .quotes .we-do-section-right-side .img-responsive.about-image {
      display: none; }
  body .press-feeds .image-container {
    padding-left: 0;
    padding-right: 0; }
  body .solutions-section ul.services_box__list.pb-20 {
    padding-top: 0 !important; }
  body .freight-forwarder .col,
  body .pricing-section .col {
    max-width: 100%;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%; }
  body .benefits-section .benefit-read-more {
    display: none !important; }
  body .custom-aboutus .mb-40 {
    margin-left: 0 !important;
    text-align: center; }
  body .custom-aboutus h3 {
    text-align: center !important; }
  body .custom-aboutus .hr-separator {
    margin: 0 auto;
    float: none; }
  body .our-leadership-team .team_member {
    max-width: 100%;
    margin: 1% 15%; }
  body .our-leadership-team h3 {
    text-align: center; }
  body .our-leadership-team p {
    text-align: center; }
  body .glossary-item .a-to-z {
    text-align: left;
    margin: 60px 0;
    word-break: break-all; }
    body .glossary-item .a-to-z li {
      line-height: 0.2; }
      body .glossary-item .a-to-z li a {
        color: #000000;
        font-size: 1.5rem;
        line-height: 1; }
  body .glossary-section {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: -6rem; }
  body .contact-us-subheader-section .kl-iconbox__title-wrapper .btn {
    width: 100% !important; }
  body .hm-news-section .hg_post_image {
    width: 100%; }
    body .hm-news-section .hg_post_image img {
      width: 100%; }
  body form#subs_form {
    -ms-flex-direction: column;
        flex-direction: column; }
  body .mini-footer .input-group .form-control,
  body .mini-footer .input-group .btn {
    width: 100% !important;
    height: 48px; }
  body .mini-footer .input-group-prepend {
    width: 100%; }
  body .mini-footer .col-md-4.col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10%;
    text-align: center; }
    body .mini-footer .col-md-4.col-sm-12.text-center {
      display: none; }
    body .mini-footer .col-md-4.col-sm-12.connect h6 {
      margin-top: 0.75rem;
      margin-left: 0%; }
    body .mini-footer .col-md-4.col-sm-12 .social-links {
      -ms-flex-pack: center !important;
          justify-content: center !important; }
  body .end-footer .copyrights {
    text-align: center; } }

@media (max-width: 480px) {
  body #header.site-header {
    padding: 0 !important; }
  body .site-header .logo-container {
    padding: 0px 0; }
    body .site-header .logo-container .site-logo {
      margin-top: 0px; }
      body .site-header .logo-container .site-logo img.logo-img {
        width: 20rem !important;
        margin-top: 10px; }
      body .site-header .logo-container .site-logo svg {
        display: none; }
  body .usp-section .item-sub-section {
    border: 0px !important; }
  body .glossary-section {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: -6rem; }
  body .customer-quote .ts-pt-testimonials__text {
    margin-right: 15px; }
  body .our-leadership-team h3 {
    text-align: center !important; }
  body .our-leadership-team .team_member {
    margin: 1% 5%; } }
